.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.title {
    font-size: 40px;
}
.gallery {
    display: flex;
}
.img {
    height: 300px;
}
.but-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    height: 40px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: antiquewhite;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.button:hover {
    background-color: #dcc5a7;
}

#totalCost {
    font-size: 20px;
}